/* -*- P4_16 -*- */
#include <core.p4>
#include <v1model.p4>

const bit<16> TYPE_MYTUNNEL = 0x1212;
const bit<32> MAX_TUNNEL_ID = 1 << 15;
const bit<16> myTunnel_next_protocol_TYPE_ETHERNET = 0x0001;


/*************************************************************************
*********************** H E A D E R S  ***********************************
*************************************************************************/

header myTunnel_t {
    bit<16> header_type;
    bit<16> next_protocol;
    bit<16> flow_id;
    bit<16> node_id;
    bit<16> group_id;
}

{% for protocol in protocols.values() -%}
{{protocol}}  
{% endfor %}

struct metadata {
    bit<16>    priority;
}

struct headers {
    myTunnel_t   myTunnel;
    {% for protocol in protocols.keys() -%}
    {{protocol}}_t  {{protocol}};  
    {% endfor %}
}

/*************************************************************************
*********************** P A R S E R  ***********************************
*************************************************************************/

parser MyParser(packet_in packet,
                out headers hdr,
                inout metadata meta,
                inout standard_metadata_t standard_metadata) {

    state start {
        transition select(packet.lookahead<myTunnel_t>().header_type) {
            TYPE_MYTUNNEL              : parse_myTunnel;
            default                    : parse_Ethernet;
        }     
    }


    state parse_myTunnel {
        packet.extract(hdr.myTunnel);
        transition select(hdr.myTunnel.next_protocol) {
            myTunnel_next_protocol_TYPE_ETHERNET: parse_Ethernet;
            default: accept;
        }
    }

    {% for protocol_name, protocol_data in next_protocols_fields.items() -%}
    state parse_{{protocol_name}} {
        packet.extract(hdr.{{protocol_name}});
        {% if protocol_data.get("next_prot_field") %}
        transition select(hdr.{{protocol_name}}.{{protocol_data["next_prot_field"]}}) {
            {% for next_protocol, field_value in protocol_data["next_prot_value"].items() -%}
            {{field_value}}: parse_{{next_protocol}};{% endfor %}
            default: accept;
        }{% endif %}{% if not protocol_data.get("next_prot_field")%}transition accept;{% endif %}
    }
    {% endfor %}

}

/*************************************************************************
************   C H E C K S U M    V E R I F I C A T I O N   *************
*************************************************************************/

control MyVerifyChecksum(inout headers hdr, inout metadata meta) {   
    apply {  }
}


/*************************************************************************
**************  I N G R E S S   P R O C E S S I N G   *******************
*************************************************************************/

control MyIngress(inout headers hdr,
                  inout metadata meta,
                  inout standard_metadata_t standard_metadata) {

    counter((MAX_TUNNEL_ID), CounterType.bytes) ingress_byte_cnt;
    
    action drop() {
        mark_to_drop(standard_metadata);
    }
    
    action append_myTunnel_header(
        bit<16> flow_id,
        bit<16> node_id,
        bit<16> group_id) {
        meta.priority = 0;
        hdr.myTunnel.setValid();
        hdr.myTunnel.header_type = TYPE_MYTUNNEL;
        hdr.myTunnel.next_protocol = myTunnel_next_protocol_TYPE_ETHERNET;
        hdr.myTunnel.flow_id = flow_id;
        hdr.myTunnel.node_id = node_id;
        hdr.myTunnel.group_id = group_id;
    }

    action fix_header(bit<16> flow_id, bit<16> priority){
        if (priority > meta.priority){
            hdr.myTunnel.flow_id = flow_id;
            meta.priority = priority;
        }
        
    }


    {% for (match_field_name, table_name) in match_field_name_table.items() -%}

    table {{table_name}} {
        key = {
            {{match_field_name}}: range;
        }
        actions = {
            {% if table_name == "Node_classifier" %}append_myTunnel_header;{% endif %}{% if table_name != "Node_classifier" %}fix_header;{% endif %}  
            drop;
            NoAction;
        }
        size = 1024;
        default_action = NoAction();
    }
    {% endfor %}

    apply {
        if (!hdr.myTunnel.isValid()){
            Node_classifier.apply();
            {% for (match_field_name, table_name) in match_field_name_table.items() if table_name != "Node_classifier" -%}
            {{table_name}}.apply();{% endfor %}
        }         
        ingress_byte_cnt.count((bit<32>) hdr.myTunnel.flow_id);
        standard_metadata.mcast_grp = (bit<16>)hdr.myTunnel.flow_id;
        }
}

/*************************************************************************
****************  E G R E S S   P R O C E S S I N G   *******************
*************************************************************************/

control MyEgress(inout headers hdr,
                 inout metadata meta,
                 inout standard_metadata_t standard_metadata) {

    counter((MAX_TUNNEL_ID), CounterType.bytes) egress_byte_cnt;

    action strip_header(){
        hdr.myTunnel.setInvalid();
    }
    
    table port_checker {
        key = {
            standard_metadata.egress_port: range;
        }
        actions = {
            strip_header;
            NoAction;
        }
        size = 1024;
        default_action = NoAction();
    }

    apply {
        egress_byte_cnt.count((bit<32>) hdr.myTunnel.flow_id);
        port_checker.apply();       
    }
}

/*************************************************************************
*************   C H E C K S U M    C O M P U T A T I O N   **************
*************************************************************************/

control MyComputeChecksum(inout headers  hdr, inout metadata meta) {
     apply {
	}
}

/*************************************************************************
***********************  D E P A R S E R  *******************************
*************************************************************************/

control MyDeparser(packet_out packet, in headers hdr) {
    apply {
        packet.emit(hdr.myTunnel);
        packet.emit(hdr.Ethernet);
        packet.emit(hdr.IPv4);
        packet.emit(hdr.TCP);
    }
}

/*************************************************************************
***********************  S W I T C H  *******************************
*************************************************************************/

V1Switch(
MyParser(),
MyVerifyChecksum(),
MyIngress(),
MyEgress(),
MyComputeChecksum(),
MyDeparser()
) main;
